<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>C2C Website</title>
    <link rel="stylesheet" href="/css/signin.css">
    <title>C2C website</title>
</head>

<body>
    <div class="form-container">
        <!-- sign in form -->
        <div class="login-container" id="login-container">
            <h1 class="title">C2C Sign In</h1>
            <p class="desc">Log in to your account.</p>
            <form action="/signin" method="post">
                <div class="input-container">
                    <input type="email" name="email" placeholder="Enter your college email only" autofocus>
                </div>
                <div class="input-container">
                    <input type="password" name="password" placeholder="Enter your password">
                </div>
                <div class="account-controls">
                    <a href="#">Forgot password?</a>
                    <button>Next <i class="fas fa-angle-right"></i></button>
                </div>
            </form>
            <span class="line"></span>
            <span class="other-login-text">Or log in with</span>
            <div class="social-logins">
                <button class="social-login">
                    <i class="fa-brands fa-facebook-f"></i>
                </button>
                <button class="social-login">
                    <i class="fa-brands fa-google"></i>
                </button>
            </div>
            <span class="signup-text">Don't have an account yet? <a id="signup-form-toggler">Sign up</a></span>
        </div>
        <div class="placeholder-banner" id="banner">
            <img src="darling.jpg" alt="" class="banner">
        </div>
        <div class="signup-container" id="signup-container" >
            <h1 class="title">C2C Sign Up</h1>
            <p class="desc">Create your account.</p>
            <form action="/signup">
                <div class="input-container">
                    <input type="email" placeholder="Enter your college email id">
                </div>
                <div class="input-container">
                    <input type="password" placeholder="Enter your password">
                </div>
                <div class="account-controls">
                    <button >Next <i class="fas fa-angle-right"></i></button>
                </div>
            </form>
            <span class="line"></span>
            <span class="other-login-text">Or sign up with</span>
            <div class="social-logins">
                <button class="social-login"><i class="fab fa-facebook-f" style="color:#1e7bf2"></i></button>
                <button class="social-login"><i class="fab fa-google" style="color: #ea4335;"></i></button>
            </div>
            <span class="signup-text">Already have an account? <a id="login-form-toggler">Login Here</a></span>
        </div>
    </div>
    <script src="/js/signin.js"></script>
</body>
</html>
